
<div class="points-lists" *ngIf="!tableOff">

  <ul *ngFor="let point of points; let i = index" [attr.data-index]="i" class="">
    
    <li class="list-group-item" >
      <div data-toggle="collapse" [attr.data-target]="'#collapse'+i" (click)="collapse(i)">
        <div class="point_id col-md-2">{{i+1}}</div>
        <div class="point_name col-md-10">{{point.point_name}}</div>
      </div>
      <div class="card collapse" [attr.id]="'collapse'+i">
          <div class="card-header">
            <div class="point_adress col-md-6">
              <div class="card-title">Adres Siedziby</div>
              <div class="card-text">{{point.point_adress_fv}}</div>
            </div>
            <div class="point_adress col-md-6">
              <div class="card-title">Adres punktu</div>
              <div class="card-text">{{point.point_adress}}</div>
            </div>
            
          </div>

            <div class="card-body">
              <div class="point_link col-md-12">
                <label>Adres z map google - </label>
                <a href="{{point.point_google_maps_adress}}">{{point.point_name}}</a>
              </div>
              <div class="point_adress col-md-6">
                <label>Godzina otwarcia</label>
                {{point.point_time_open}}
              </div>
              <div class="point_adress col-md-6">
                <label>Godzina dowozu</label>
                {{point.point_time_deliver_required}}
              </div>
            </div>

            <div class="card-footer">
                <a [routerLink]="['/edit',point._id]" class="btn btn-primary">Edytuj</a>
                <a [routerLink]="['/delete',point._id]" class="btn btn-danger">Usuń</a>
            </div>
      </div>
    </li>
                  
  </ul>
  <button [routerLink]="['create']" class="btn btn-success">Dodaj</button>
</div>

<div *ngIf="tableOff">
  <button [routerLink]="['create']" class="btn btn-success">Dodaj</button>
</div>