<div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Nazwa punktu</label>
                <input type="text" class="form-control" formControlName="point_name"/>
            </div>
            <div *ngIf="angForm.controls['point_name'].invalid && (angForm.controls['point_name'].dirty || angForm.controls['point_name'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['point_name'].errors.required">
                    Point Name is required
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4">Adres z faktury</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                    <label class="col-md-4">Adres prawdziwy</label>
                    <input type="text" class="form-control" />
                </div>
            <div class="form-group">
                <label class="col-md-4">Link do google maps</label>
                <input type="url" class="form-control" />
            </div>
            <input class="btn btn-success" type="submit" value="Dodaj">
            <button class="btn btn-secondary cancel-button" [routerLink]="['/points']">Anuluj</button>
        </form>
    </div>
</div>
